@{
    ViewData["Title"] = "Frituur Op de Hoek";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij Frituur Op de Hoek!</h1>
    <p><a>Ontdek het menu en plaats een bestelling!</a></p>
 
</div>
