@{
    ViewData["Title"] = "Index";
}

<h1>
    Welcome to the owner page!
</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                <a type="button" class="btn btn-primary" asp-controller="Products" asp-action="Index">Producten beheren</a>
            </th>
            <th>
                <a type="button" class="btn btn-primary" asp-controller="Categories" asp-action="Index">Categoriën beheren</a>
            </th>
            <th>
                <a type="button" class="btn btn-primary" asp-controller="Sales" asp-action="Index">Aanbiedingen beheren</a>
            </th>
        </tr>
    </thead>
</table>